* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}
body {
  background-image: url("https://image.made-in-china.com/2f0j00hfukbvoFhTcI/Calacatta-Gold-Marble-Large-Format-Big-Size-Porcelain-Wall-Floor-Countertop-Tiles-Sintered-Stone-Slab.webp");
  background-size: cover;
}
.navbar {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-evenly;
  background-color: white;
  opacity: 0.7;
  min-height: 10vh;
}
